* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100vw;
    min-height: 100vh;
    padding: 20px;
    background: linear-gradient(45deg, #3f0000, #00002f);
    color: #aaa;
}

.section {
    display: block;
    max-width: 800px;
    padding: 10px 20px;
    margin: auto;
    margin-bottom: 20px;
    background: #131518;
    border-radius: 4px;
    box-shadow: 0px 0px 10px #000;
}

main.section {
    max-width: 600px;
}

h1 {
    text-align: center;
    font-size: 1.2rem;
    color: #ddd;
}

label {
    display: block;
    padding-block: 5px;
}

input {
    width: 100%;
    padding: 10px 20px;
    background: transparent;
    color: #bbb;
    border: 1px solid #aaa;
    border-radius: 4px;
}

input:hover {
    border-color: #aaa;
}

input+span {
    display: none;
    padding-top: 5px;
    text-align: right;
    color: #f86;
}

input.error {
    border-color: #f86;
}

input.error+span {
    display: block;
}

a {
    text-decoration: none; 
    color: #d07;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.center {
    display: block;
    text-align: center;
}

img {
    margin-block: 5px;
    width: 100%;
    border-radius: 4px;
}

ul {
    list-style: disc;
    padding: 10px;
    padding-left: 40px;
}

li {
    padding-bottom: 5px;
}

code {
    display: block;
    padding: 10px 10px;
    margin-block: 10px;
    background: #232528;
    color: #bbb;
    overflow-x: scroll;
    scrollbar-width: none;
    scrollbar-color: transparent;
}

code::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}

code,
pre, 
code * {
    font-family: monospace;
    border-radius: 4px;
}

footer.section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

footer a {
    flex: 1;
    text-align: center;
    color: #bbb;
}